__pycache__/
*.pyc
.venv/
*.db
.env
.pytest_cache/

node_modules/
dist/
*.local

.DS_Store
*.tsbuildinfo

# локальные артефакты сборки за прокси
docker-compose.override.yml
proxy-ca.crt
Dockerfile.local
